body {
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 27px;
    margin-top: 19px;
}

a {
    vertical-align: middle;
    float: left;
    display: inline-block;
    padding-left: 15px;
    padding-top: 8px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logo {
    margin-top: 70px;
    padding-left: 140px;
    padding-top: 109px;
    padding-bottom: 30px;
    width: 272px;
    height: 92px;
}

#search-box div {
    background: url("microphone.png") 0 0 no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
    align-items: center;
    position: absolute;
    left: 71%;
    top: 46.5%;
}

#search-box input:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 3px rgba(0, 0, 0, 0.08);
}

input[type="submit"] {
    height: 36px;
    line-height: 27px;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

#search-box input {
    background: transparent;
    width: 560px;
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    height: 39px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

#bottom-bar {
    position: absolute;
    font-size: 10pt;
    line-height: 40px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    min-width: 980px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 27p
}

#bottom-bar a {
    line-height: 40px;
    display: inline-block;
    color: #666;
    padding-left: 27px;
}

#bottom-bar span {
    padding-left: 27px;
    padding-right: 27px;
}

.right-side {
    float: right;
}

.right-side div {
    margin-left: 15px;
}

#grid,
#bell {
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    background-image: url("google-icons.png");
    background-size: 528px 68px;

}

#bell {
    background-color: rgba(0, 0, 0, .55);
    border-radius: 50%;
    padding: 0 2px;
    text-align: center;
    background-position: -194px -21px;
    width: 20px;
    height: 20px;
}

#bell:hover {
    background-color: #000;
}

#grid:hover {
    opacity: 1;
}

#grid {
    opacity: .55;
    background-position: -132px -38px;
    width: 30px;
    height: 30px;
}

#me {
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    display: inline-block;
    background-image: url("me.jpg");
    background-size: 32px 32px;
    border-radius: 30px;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}
